# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Netlify configuration
.netlify/
netlify.toml

# IDE and editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Other files to ignore
coverage/
*.tgz
